* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*------------------IR ARRIBa------------*/

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    /*background-color: rgb(0, 0, 0, );*/
    background-color: #000;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: black;
}

/*---------------header------------*/

header{
  height: 169px;
  width: 100%;
  background-color: #97D4E6;
  overflow: hidden;
}
.imagen{
  width: 10%;
  margin-right: 5%;
  margin-top: 1.2%;

}
/*----------------------menu--------------------*/
.hola{
  border: 2px red solid;
  width: 55%;
  margin-left: 5%;
  margin-top: 4%;
  overflow: hidden;
}
.navbar, .dropdown-menu{
background:rgba(255,255,255,0.25);
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #000;
 font-size: 18px;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}




/*---------------------------slide------------------*/


#first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 425px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url(../img/conatable.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url(../img/impuestos.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
  background-image: url(../img/nomina2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
  background-image: url(../img/legalbanner.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}

/*----------------SECCION DEBAJO DEL SLIDE----------------------------*/


.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-big {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.big-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.carbox {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.carbox:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-carbox {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-carbox img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.carbox-content {
  padding:15px;
  text-align:left;
}
.carbox-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.carbox-title a {
  color: #000;
  text-decoration: none !important;
}
.carbox-read-more {
  border-top: 1px solid #D4D4D4;
}
.carbox-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
hr{
  width: 40%;
  margin: 0 auto;
}

/*.banner{
  outline: 2px red solid;
  margin-bottom: 3%;
}
.tit{
  text-align: center;
}
hr{
  width: 40%;
  margin: 0 auto;
}
.textobanner{
  outline: 2px red solid;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2%;
}
.icono{
  text-align: center;
  color: #1D9A96;
}*/
.boton2{
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%; 
}
.boton2 a{
    text-decoration: none;
    color: #fff;
    background: #414140;
    padding: 15px 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.boton2 a:hover{
    background-color: #97D4E6;
    color: #000;
}


/*-------------------------banner de agendar--------------------*/

.agende{
  /*outline: 2px red solid;*/
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  background-color: #97D4E6;
  color: #000;
  font-weight: bold;
}
.boton3{
    text-align: center;
    width: 100%;
    margin-top: 2%;
    /*margin-bottom: 1%; */
}
.boton3 a{
    text-decoration: none;
    color: #fff;
    background: #414140;
    padding: 15px 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.boton3 a:hover{
    background-color: #97D4E6;
    color: #000;
}
/*--------------FOOTER----------*/
footer{
  width: 100%;
    background:#414140;
    font-family: 'Oswald', sans-serif;
    height: 80px;
    /*font-size: 20px;*/
    overflow: hidden;
    clear: both;

}
footer p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    color: #fff;
}

/*---------------------nosotros--------------*/
.bannerq{
  /*outline: 2px red solid;*/
   position: relative;
   width: 100%;
    height: 407px;
    background: url('../img/consultores.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.bannerq p{
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    width: 15%;
    /*margin: 0 auto;*/
    margin-left: 16%;
    margin-top: 10%;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}
.contendatos{
  /*outline: 2px red solid;*/
  width: 100%;
}
.icono{
  text-align: center;
}
.icono i{
  color: #97D4E6;
  font-weight: bold;
}
.cuadros:hover .icono i{
  color: #000;
}

.bannervalores{
  /*outline: 2px red solid;*/
  position: relative;
   width: 100%;
    height: 407px;
    background: url('../img/valores8.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
.fondo{
    background-color: rgba(0,0,0,.5);
    color: #fff;
    /*padding: 15px;*/
}
.icono2{
  text-align: center;
}
.icono2 i{
  color: #fff;
  font-weight: bold;
}
.cuadros:hover .icono2 i{
  
  color: #97D4E6;
}
.color{
  color: #fff;
  font-weight: bold;
}
/*---------------------servicios--------------*/
.banners{
  /*outline: 2px red solid;*/
   position: relative;
   width: 100%;
    height: 407px;
    background: url('../img/bannerser.png') center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.banners p{
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    width: 15%;
    /*margin: 0 auto;*/
    margin-left: 16%;
    margin-top: 10%;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}

/*---------------------contacto--------------*/
.bannerc{
  /*outline: 2px red solid;*/
   position: relative;
   width: 100%;
    height: 407px;
    background: url('../img/contacto3.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.bannerc p{
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    width: 15%;
    /*margin: 0 auto;*/
    margin-left: 16%;
    margin-top: 10%;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}


.contactform {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.contenedorformdirec {}

.direcgcp {
    margin-left: 5%;
    width: 37%;
}

#direcgcp2 {
    color: #505050;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

.direcp {
    color: #505050;
    font-size: 18px;
    margin-top: 0%;
}

.icon-location-pin,
.old-phone,
.icon-mail {
    font-size: 29px;
    margin-top: 2%;
}

#contacto,
.direcgcp {
    display: inline-block;
    vertical-align: top;
}

#contacto {
    overflow: hidden;
    width: 50%;
    margin-left: 5%;
    margin-top: 3%;
}

.mapa {
    width: 90%;
    margin: 0 auto;
}

.gcpn {
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
}

iframe {
    width: 100%;
}

.ema {
    font-size: 16px;
    font-family: helvetica;
    font-weight: bold;
}

.emai:focus {
    border: 2px solid #2DE1CE;
    outline: 0px;
    -webkit-box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
}

.emai {
    height: 30px;
    border-radius: 5px;
    margin-top: 1%;
    border: 1px solid #ccc;
    width: 99%;
    -webkit-box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sex {
    font-size: 16px;
    font-family: helvetica;
    margin-left: 5%;
    margin-top: 2%;
}

input::-webkit-input-placeholder {
    color: #747474;
    padding-left: 5px;
}

input:-moz-placeholder {
    color: #747474;
    padding-left: 5px;
}

input:-ms-input-placeholder {
    color: #747474;
    padding-left: 5px;
}

.enviar {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #464646;
    padding: 15px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 3%;
    border: 0px;
    float: right;
    cursor: pointer;
}

.enviar:hover {
    background: #97D4E6;
    color: #000;
}

#con {
    font-family: 'Oswald', sans-serif;
    color: #505050;
    line-height: 40px;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 36px;
}

#te {
    font-family: 'Oswald', sans-serif;
    color: #505050;
    width: 50%;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

.der {
    width: 50%;
    float: right;
    padding: 3% 0px 3% 3%;
}

.izq {
    width: 43%;
    padding: 3% 3% 3% 0px;
    float: left;
}

#cote {
    overflow: hidden;
}

#areac {
    border-radius: 5px;
    box-sizing: border-box;
}

#areac:focus {
    height: 150px;
}

#cote2 {}

#enviar2 {
    margin-top: 3%;
    width: 30%;
}
